<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div>
                        <label for="" class="form-label">Nombre:</label>
                        <input type="text"  name="nombre"  class="form-control" placeholder="Por favor ingrese un nombre" [(ngModel)]="persona.nombre">
                    </div>
                    <div>
                        <label for="" class="form-label">Número de teléfono:</label>
                        <input type="number" name="telefono" class="form-control" placeholder="Por favor ingrese un número de télefono" [(ngModel)]="persona.numero">
                    </div>
                    <div class="mt-md-2">
                       <button class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>