<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>


  <div class="container">
    <div class="row text-center mb-md-3">
        <div class="col-md-12">
          <h1>Estas mis las pruebas en Angular.js</h1>
        </div>
    </div>
    <div class="row text-center mb-md-3">
      <div class="col-md-12">
        <h3>Titulo proyecto: {{ title }}</h3>
      </div>
  </div>
  </div>

  <app-contador></app-contador>
<div>
  <app-contador-automatico></app-contador-automatico>
</div>
<div>
  <app-button-red></app-button-red>
</div>
