<div class="container">
    <div class="row text-center mb-md-3">
        <div class="col-md-12">
            <h2>2-Prueba datos a componente</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h4>Este es el nombre del programador: <strong> {{ nombre_programador }} </strong></h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
                <p>titulo: {{ persona.titulo }}</p>
                <p>Experiencia: {{ persona.anios_exp }}</p>
                <p>Edad: {{ persona.edad }}</p>
                <p>Sexo: {{ persona.sexo }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center mb-md-3">
        <div class="col-md-12">
            <h2>3-Prueba eventos</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2 offset-md-3">
            <button (click)="decrementar()" class="btn btn-primary" style="width:100%;">-</button>
        </div>
        <div class="col-md-2">
            <span> {{ numero }} </span>
        </div>
        <div class="col-md-2">
            <button  (click)="aumentar()"  class="btn btn-primary" style="width:100%;">+</button>
        </div>
    </div>
</div>





